html, body {
    margin: 0 auto;
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1a1a1a;
    font-family: 'Lora', serif;
}



/*turinio pradžia */

.turinys {
    height: auto;
    margin-top: 40px;
    margin-right: 45px; /* turinio apiforminimas */
    margin-left: 40px;
    margin-bottom: 100px;
    color:white;
    grid-gap: 10px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 350px 350px 350px 350px;
    grid-template-areas: 
        "h h h h h h m m m m m m"
        "c c c c c c v v v v v v"
        "f f f f f f z z z z z z"
        "x x x x x x b b b b b b"
}



.cat {
    color:white;
    text-align: center;
    font-size: 38px;
    margin-top:20px;
}

.pirmas {
    grid-area: h;

}

.antras {
    grid-area: m;
}

.trecias {
    grid-column: c;
}

.ketvirtas {
    grid-column: v;
}

.penktas {
    grid-column: f;
}

.sestas {
    grid-column: z;
}

.septintas {
    grid-column: x;
}

.astuntas {
    grid-column: b;
}



.rusis {
    font-size:1.5em;
    font-weight: 600;
    margin-top:25px;
    margin-left: 10px;
    margin-bottom: 25px;
    width:auto;
    color: white;
}


.rusis:hover {
    text-decoration: underline;
    cursor: pointer;
    
}

.ap {
    color: #b3b3b3;
    margin-left:50px;
    margin-right:50px;
    line-height: 1.1;
}

.mos li {
    color: #b3b3b3;
    margin-left:50px;
    margin-bottom: 10px;
}

.new {
    text-decoration: none;
    color:white;
}

.line {
    border-top: solid 2px #737373;
    width: 50px;
    margin-top: 10px;
}

.center {
     display: flex;
    justify-content: center;
    align-items: center;
}

/* kitu puslapiu isdestymas*/

.turinys2 {
    height: auto;
    margin-top: 40px;
    margin-right: 45px; /* turinio apiforminimas */
    margin-left: 40px;
    margin-bottom: 100px;
    color:white;
    grid-gap: 10px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas: 
        "h h h h h h m m m m m m"
        "c c c c c c v v v v v v"
}



.pirmas {
    grid-area: h;

}

.antras {
    grid-area: m;
}

.trecias {
    grid-column: c;
}

.ketvirtas {
    grid-column: v;
}

.turinys3 {
    height: auto;
    margin-top: 40px;
    margin-right: 45px; /* turinio apiforminimas */
    margin-left: 40px;
    margin-bottom: 100px;
    color:white;
    grid-gap: 10px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 350px;
    grid-template-areas: 
        "h h h h h h m m m m m m"
        
}




.pirmas {
    grid-area: h;

}

.antras {
    grid-area: m;
}

/* hover effect */



.dezes .boxx {
    position: relative;
    box-sizing: border-box;  
    
}

.dezes .boxx .details {
    position: absolute;
    top:10px;
    top:-325px;
    left:10px;
    bottom:10px;
    right: 10px;
    background: rgba(205, 202, 202, 0);

    text-align: center;
    transition: background 0.4s;
    transition-timing-function: ease-in-out;
/*    transform: translateY(-10px);*/
}

.dezes .boxx:hover .details {
    background: rgba(205, 202, 202, 0.5);
    cursor: pointer;
}

.dezes .boxx .details .content {
    top:45%;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    position: absolute;
    font-size: 25px;
    color: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
/*    border: solid 2px #1a1a1a;*/
    padding: 10px 40px;
    opacity: 0;
    transition-timing-function: ease-in-out;
/*    border: solid 2px red;*/
    
}

.dezes .boxx:hover .content {
    opacity: 1;
    cursor: pointer;
}



.dezes .boxx .details .content .border {
    width: 180px;
    border: solid 2px #1a1a1a;
    height: 50px;
    position: absolute;
    top:-5%;
    right: 0%;
    transition: transform 0.1s ease-in;
}

.dezes .boxx .details .content .border2 {
    width: 180px;
    border: solid 2px #1a1a1a;
    height: 50px;
    position: absolute;
    top:10%;
    right: -5%;
    transition: transform 0.1s ease-in;
}


.dezes .boxx .details .content:hover .border2 {
     
    transform: translate(-8px,-3px);
    
}

.dezes .boxx .details .content:hover .border {
    transform: translate(2px,3px);
}

.dezes .boxx .details .content:hover {
    color: white;
    display: block;
    background-color: #1a1a1a;
}



@media only screen and (max-width: 1218px) {
    

    .text {  
    top:350px;
    }
    
    .text2 {
    left: 80px;
    }
    
    .nxt-btn {
    margin-right: auto;
    position:relative;
    left: 0;
    right: 0;
    margin-right: 0px;
    margin-left: 380px;
}
    
}

@media only screen and (max-width: 660px) {
    
    
    
    .turinys, .turinys2, .turinys3 {
        display:flex;
        flex-direction: column;
    }
    
    .dezes{
        height: 350px;
        margin-bottom: 100px;
    }
    
     .text, .text2 {  
         width: auto;
         left: 50px;
    }
    
    
    
}
    
@media only screen and (max-width: 520px) {
    
    .turinys, .turinys2, .turinys3, p, li, .banner {
        margin-left: 10px;
        margin-right: 10px;
    }
     .text, .text2 {  
         width: auto;
         left: 10px;
    }
    
    .ready2 {
        display: none;
    }
    .slides-container {
        width: auto;
    }
    
        .nxt-btn {
    margin-left: 260px;
}
    
    
}